
{% extends 'base.html' %}

{% block 'title' %}HelpDesk{% endblock 'title' %}

 {% block 'head' %}

 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="background-color:gainsboro">
    <div class="carousel-item active" style="height: 90vh;">
      <!-- <h5>Master Digit</h5> -->
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg" alt="First slide">
      <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                <strong>Master Digit</strong>
              </h1>

              <p>
                <strong>Notre solution qui automatise tout vos processus métiers <br> et vous facilite votre gestion de liquidité en tant que Master Distributeur</strong>
              </p>

              <!-- <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                  available. Create your own, stunning website.</strong>
              </p> -->

              <a target="_blank" href="" class="btn btn-outline-white btn-lg" style="background-color: #46b97c;">Aller sur le site
                <i class="fas fa-graduation-cap ms-2"></i>
              </a>
      </div>
    </div>
    <div class="carousel-item" style="height: 90vh;">
      <!-- <h5>Garage Digit</h5> -->
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                <strong>Garage Digit</strong>
              </h1>

              <p>
                <strong>Notre solution qui vous facilite la gestion de votre garage. </strong>
              </p>

              <!-- <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                  available. Create your own, stunning website.</strong>
              </p> -->

              <a target="_blank" href="" class="btn btn-outline-white btn-lg" style="background-color: #46b97c;">Aller sur le site
                <i class="fas fa-graduation-cap ms-2"></i>
              </a>
      </div>
    </div>
    <div class="carousel-item" style="height: 90vh;">
      <!-- <h5>Keyla Shop</h5> -->
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                <strong>Keyla Shop</strong>
              </h1>

              <p>
                <strong>Notre solution pour la gestion des activités et le stock de votre boutique</strong>
              </p>

              <!-- <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                  available. Create your own, stunning website.</strong>
              </p> -->

              <a target="_blank" href="" class="btn btn-outline-white btn-lg" style="background-color: #46b97c;">Aller sur le site
                <i class="fas fa-graduation-cap ms-2"></i>
              </a>
      </div>
    </div>
    <div class="carousel-item" style="height: 90vh;">
      <!-- <h5>Keyla Shop</h5> -->
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="mb-4">
                <strong>Global Finace Software</strong>
              </h1>

              <p>
                <strong>Notre solution pour la gestion des activités des microfinances</strong>
              </p>

              <!-- <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 5. Loved by over 3 000 000 users. Video and written versions
                  available. Create your own, stunning website.</strong>
              </p> -->

              <a target="_blank" href="" class="btn btn-outline-white btn-lg" style="background-color: #46b97c;">Aller sur le site
                <i class="fas fa-graduation-cap ms-2"></i>
              </a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

   <!-- <div class="container text-center">
            <h1 class="mt-5 font-weight-light">HelpDesk Support Portal</h1>
            <p class="lead">An interactive and digital helpdesk support portal used in IT Industry</p>
    </div> -->
{% endblock 'head' %}

{% block 'content' %}
{% endblock 'content' %}